body {
  background-color: rgb(254, 249, 246);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(254, 249, 246);
  border-bottom: 1px solid rgb(223, 222, 222);
  height: 70px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

.filler {
  flex: 1;
}

.logo-container {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  font-weight: 600;
  color: rgb(46, 46, 46);
  line-height: 115%;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-list-container {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 2.5em; 
}

.nav-list-item {
  cursor: pointer;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  font-size: 16px; 
  font-weight: 700; 
  color: rgb(107, 107, 120);
  text-decoration: none;
  line-height: 115%;
}

.nav-list-item:hover {
  color: rgb(46, 46, 46);
  text-decoration: underline;
}

.button-container {
  display: flex;
  align-items: center;
}

.button-login {
  background-color: rgb(241, 242, 244);
  color: rgb(46, 46, 46);
  border: none;
  padding: 8px 16px;
  gap: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  border-radius: 12px;
  height: min-content;
  font-size: 16px; 
  font-weight: 700;
  line-height: 150%; 
}

.button-normal {
  background-color: rgb(46, 46, 46);
  color: rgb(241, 242, 244);
  border: none;
  padding: 8px 16px;
  gap: 10px;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  border-radius: 12px;
  height: min-content;
  font-size: 16px;
  font-weight: 700; 
  line-height: 150%;
}

.button-login:hover,
.button-normal:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.title-small {
  font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
  color: rgb(46, 46, 46);
  font-weight: 700;
  background-color: #F1F2F4;
  gap: 10px;
  padding: 8px 16px;
  width: min-content;
  border-radius: 100px;
}
